<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, id: :badge_title, class: "form-control" %>
    </p>
    <p>
      <%= form.label :image %><br>
      <%= form.select :image_path,
                    options_for_select(Badge.images),
                    class: "form-control" %>
    </p>
    <p>
      <%= form.label :rule_type %><br>
      <%= form.select :rule,
                    options_for_select(BadgeService::BADGES_TYPE),
                    {prompt: 'Выбрать из списка'},
                    class: "form-control rule" %>
    </p>
    <p>
      <%= form.label :rule_value %><br>
      <%= form.select :rule_value, BadgeService::RULE_VALUES, {prompt: 'Выбрать из списка'}, class: "form-control" %>
    </p>
    <p>
    <%= form.submit class: "btn btn-primary" %>
    </p>
<% end %>
