<div class="row justify-content-center">
  <div class="col col-md-4">
    <%= form_with model: @feedback, local: true do |form| %>
      <div class="form-group">
        <%= render 'shared/errors', resource: @feedback %>
          <p>
            <%= form.text_field :title, id: :feedback_title %>
          </p>
          <p>
            <%= form.text_area :body, id: :feedback_body %>
          </p>
          <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
