<h1><%= t('.header') %></h1>
<p>
  <%= link_to t('.new_test'), new_admin_test_path %>
</p>

<%= render 'shared/errors', resource: @test %>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th class="sort-by-title pointer">
         <%= t('.title') %>
         <%= octicon 'arrow-up', class: 'text-success hide' %>
         <%= octicon 'arrow-down', class: 'text-success hide' %>
       </th>
      <th><%= t('.questions') %></th>
      <th><%= t('.time_limit') %></th>
      <th colspan="4">Action</th>
    </tr>
  </thead>
  <%= render @tests %>
</table>
