<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if logged_in? %>
      <p class='nav user'>Welcome, <b><%= current_user.email %></b> Guru
      [<%= link_to 'Logout', logout_path, method: :delete %>]
      </p>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
